

html,
body,
#app,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3241;
}



.content-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  padding-bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  background: #f0f0f0;
}

.content {
  width: auto;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.container {
  /*
  border-box 告诉浏览器：你想要设置的边框和内边距的值是包含在 width 内的。
  也就是说，如果你将一个元素的 width 设为 100px，那么这 100px 会包含它的 border 和 padding，内容区的实际宽度是 width 减去 (border + padding) 的值。
  大多数情况下，这使得我们更容易地设定一个元素的宽高。
   */
  box-sizing: border-box;
  height: 95%;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 20px;
  overflow: auto;

}
